

.background-video {
    min-height: 100vh;
    min-width: 100vw;
    maxHeight: 1000px;
    overflow: hidden;
    position: absolute;
    backgroundPosition: center center;
    backgroundSize: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    alignItems: center;
    top: -10vh;
}

/* .sections {
    background-color: #000 !important;
} */